body {
    font-family: sans-serif
}

.heading {
    background-color: #3c3c3c;
    color: white;
    padding: 5px;
}

.card {
    background-color: #0275d8;
    color:white;
}

.card-block {
    margin-bottom: 10px;
}

.favorable {
    color:white;
    background-color: green;
}

.moderate {
    color:white;
    background-color: orange;
}

.severe {
    color:white;
    background-color:red;
}